.roxo{
    height: 100vh;
    background-color: #670bbd;
    color:#fff
}
/* Cuidado para referências estilos sem Classe ou ids, ocasionará erros,
um seletor puro deve conter pelo menos um classe ou um id,
não posso colar um h1 dentro de arquivo module.css, ou seja, arquivos css modularizados */
.roxo h1{
    margin:0;
}